/* Using https://mycolor.space/?hex=%23311B92&sub=1 */

/* *******************
 * *  GLOBAL STYLES  *
 * ******************* */
* {
	font-family: 'Aldrich', sans-serif;
	font-size: 14px;
}

html, body {
	margin: 0; padding: 0;
	width: 100%; height: 100%;
	background: linear-gradient(to top left, #311B92, black);
	overflow: hidden;
}

canvas {
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	position: absolute;
	z-index: 0;
}

.centered {
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	position: absolute;
}

.hidden {
	/* Hidden until game starts */
	display: none;
}

.title {
	font-size: 4vw;
	text-shadow: 1px 1px 0 rgb(36, 36, 36);
	text-align: center;
}

/* **********
 * * BOXES  *
 * ********** */
.box {
	padding: 2rem;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 1rem 0px rgb(180, 180, 180);
	-moz-box-shadow: 0px 0px 1rem 0px rgba(180, 180, 180);
	box-shadow: 0px 0px 1rem 0px rgba(180, 180, 180);
	box-sizing: border-box;
}

/* ************
 * * BUTTONS  *
 * ************ */
 .button {
	position: relative;
	margin: auto;
	margin-top: 10px;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	font-size: large;
	
	text-align: center;
	border: 0;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
 }

 .button:active, .button:hover {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
 }

 .btn-primary {
	background: #0050C1;
	border-bottom: 2px solid #003CA8;
	box-shadow: inset 0 -2px #003CA8;
	-webkit-box-shadow: inset 0 #003CA8;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	color: white;
 }

 .btn-primary:active, .btn-primary:hover {
	background: rgb(45, 90, 228);
 }

 .btn-secondary {
	background: #718EFF;
	border-bottom: 2px solid #3D66D1;
	box-shadow: inset 0 -2px #3D66D1;
	-webkit-box-shadow: inset 0 #3D66D1;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	color: white;
 }

 .btn-secondary:active, .btn-secondary:hover {
	background: rgb(108, 137, 224);
 }

 .btn-invert {
	background: #E48425;
	border-bottom: 2px solid #BC6300;
	box-shadow: inset 0 -2px #BC6300;
	-webkit-box-shadow: inset 0 #BC6300;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	color: white;
 }

 .btn-invert:active, .btn-invert:hover {
	background: rgb(226, 140, 54);
 }

 .btn-error {
	background: #F13535;
	border-bottom: 2px solid #AB0005;
	box-shadow: inset 0 -2px #AB0005;
	-webkit-box-shadow: inset 0 #AB0005;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	color: white;
 }

 .btn-error:active, .btn-error:hover {
	background: rgb(238, 74, 74);
 }

/* ***************
 * * START MENU  *
 * *************** */

/* box */
#startMenu {
	box-sizing: border-box;
}

#startMenu p {
	padding: 0;
	text-align:center;
	font-size: x-large;
	font-weight: bold;
}

#startMenuMessage {
	width: 30rem;
	margin: auto;
	box-sizing: border-box;
	margin-top: 2vh;
	color:red;
	height: 2vh;
	text-align: center;
	/* Hidden on start */
	display: none;
}

.menuInputBox {
	width: 100%;
	text-align: center;
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	box-sizing: border-box;
	margin-bottom: 10px;
	outline: none;
}

#playerNameInput:focus, #playerNameInput.focus {
	border: solid 1px #CCCCCC;
	box-shadow: 0 0 3px 1px #DDDDDD;
}

#startMenu h3 {
	padding-bottom: 0;
	margin-bottom: 0;
}

#startMenu ul {
	margin: 10px; padding: 10px;
	margin-top: 0;
}

#startMenu .input-error {
  color : red;
  display: none;
  font-size : 12px;
}

/* TODO make better logo! */
#logo img {
	max-height: 20vh;
	padding-top: 5vh;
}

/* *****************
 * *  INGAME MENU  *
 * ***************** */
 .menubox {
	position: absolute;
	z-index: 100;
	
 }

/* **********
 * *  CHAT  *
 * ********** */

.chatbox {
	position: absolute;
    width: 25vw;
    height: 45vh;
    bottom: 2rem;
    left: 2rem;
	padding: 1.2rem;
	z-index: 20;
}

.chatbox .chat-list {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
	height: 38vh;
	overflow-wrap: break-word;
	overflow-y: scroll;
}

.chatbox .chat-list li {
    padding: 2px;
    margin: 2px;
}

.chatbox .chat-list li.me b {
    color: #ea6153;
}

.chatbox .chat-list li.friend b {
    color: #2ecc71;
}

.chatbox .chat-list li.join {
	color: #1b47e5;
}

.chatbox .chat-list li.system {
    color: #9b59b6;
}

.chatbox .chat-list li.system:before {
    content: "» ";
}

.chatbox .chat-input {
    pointer-events: all;
    box-sizing: border-box;
	width: 100%;
    background: transparent;
    border: none;
    border-top: 1px solid #DDD;
	outline: none;
	height: 5vh;
	z-index: 50;
}

/* ***************************************************
 * *  LOADING - adapted from tobiasahlin.com/spinkit *
 * *************************************************** */
.loadingbox {
	width: 50%;
	height: 50%;
	pointer-events: none;
	text-align: center;
	overflow: hidden;
}

.spinner {
  width: 8vw;
  height: 8vw;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/* **************
 * *  SCROLLBAR *
 * ************** */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgba(58, 45, 241, 0.6)),
									   color-stop(0.72, rgba(60, 26, 214, 0.6)),
									   color-stop(0.86, rgba(26, 0, 172, 0.6)));
}

/* ********************
 * * CUSTOM SELECTION *
 * ******************** */
::selection {
  background: transparent; /* WebKit/Blink Browsers */
  color: rgb(60, 26, 214);
  text-shadow: 0 0 0.5rem rgba(26, 0, 172, 0.8);

}
::-moz-selection {
  background: transparent; /* Gecko Browsers */
  color: rgb(60, 26, 214);
  text-shadow: 0 0 0.5rem rgba(26, 0, 172, 0.8);
}