/* Using https://mycolor.space/?hex=%23311B92&sub=1 */

/* *******************
 * *  GLOBAL STYLES  *
 * ******************* */

* {
    font-family: 'Aldrich', sans-serif !important;
}

#logoC img {
    /* -webkit-transform-origin: 35px 30px; */
    -webkit-animation: spin1 2s infinite linear;
    -moz-animation: spin1 2s infinite linear;
    -o-animation: spin1 2s infinite linear;
    -ms-animation: spin1 2s infinite linear;
    animation: spin1 2s infinite linear;
}

@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin1 {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin1 {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin1 {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-keyframes spin1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left, #311B92, black) no-repeat bottom fixed;
    /* overflow: hidden; */
}

canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
}

.centered {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.hidden {
    /* Hidden until game starts */
    display: none;
}

.title {
    font-size: 4vw;
    text-shadow: 1px 1px 0 rgb(36, 36, 36);
    text-align: center;
}

@media screen and (min-width: 45em) {
    .btn-blueprint {
        width: 49% !important;
    }
}

/* **********
 * * BOXES  *
 * ********** */

.box {
    padding: 2rem;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 1rem 0px rgb(180, 180, 180);
    -moz-box-shadow: 0px 0px 1rem 0px rgba(180, 180, 180);
    box-shadow: 0px 0px 1rem 0px rgba(180, 180, 180);
    box-sizing: border-box;
}

/* Blueprint Select Window */

#bp-select {
    z-index: 100;
    position: absolute;
    margin: auto;
    width: 80%;
    height: 70%;
}

#bp-select-info {
    font-size: 15px !important;
    margin: 0;
    font-weight: normal !important;
}

#bp-select-header {
    margin: 0;
}

/* Ingame Menu */

.menubox {
    position: absolute;
    z-index: 100;
}

/* Winner display */

#winner-panel {
    z-index: 100;
}

/* ************
 * * BUTTONS  *
 * ************ */

.button {
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: large;
    text-align: center;
    border: 0;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

.button:active,
.button:hover {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
}

.button:disabled {
    top: 0px !important;
    background: #CCCCCC !important;
    border-bottom: 2px solid #DDDDDD !important;
    box-shadow: inset 0 -2px #DDDDDD !important;
    -webkit-box-shadow: inset 0 #DDDDDD !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) !important;
    color: #BBBBBB !important;
}

.btn-primary {
    background: #0050C1;
    border-bottom: 2px solid #003CA8;
    box-shadow: inset 0 -2px #003CA8;
    -webkit-box-shadow: inset 0 #003CA8;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    color: white;
}

.btn-primary:active,
.btn-primary:hover {
    background: rgb(45, 90, 228);
}

.btn-secondary {
    background: #718EFF;
    border-bottom: 2px solid #3D66D1;
    box-shadow: inset 0 -2px #3D66D1;
    -webkit-box-shadow: inset 0 #3D66D1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    color: white;
}

.btn-secondary:active,
.btn-secondary:hover {
    background: rgb(108, 137, 224);
}

.btn-invert {
    background: #E48425;
    border-bottom: 2px solid #BC6300;
    box-shadow: inset 0 -2px #BC6300;
    -webkit-box-shadow: inset 0 #BC6300;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    color: white;
}

.btn-invert:active,
.btn-invert:hover {
    background: rgb(226, 140, 54);
}

.btn-error {
    background: #F13535;
    border-bottom: 2px solid #AB0005;
    box-shadow: inset 0 -2px #AB0005;
    -webkit-box-shadow: inset 0 #AB0005;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    color: white;
}

.btn-error:active,
.btn-error:hover {
    background: rgb(238, 74, 74);
}

.btn-slot {
    background: rgba(200, 200, 200, 0.8);
    color: black;
}

#btn-close {
    /* float: bottom; */
    width: 70%;
    margin-left: 15%;
    position: relative;
    /* margin-top: 200px; */
}

.btn-slot:active,
.btn-slot:hover {
    background: rgba(220, 220, 220, 0.9);
}

/* ***************
 * * START MENU  *
 * *************** */

/* box */

#startMenu {
    box-sizing: border-box;
}

#startMenuWrapper p {
    padding: 0;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.menuInputBox {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
}

#playerNameInput:focus,
#playerNameInput.focus {
    border: solid 1px #CCCCCC;
    box-shadow: 0 0 3px 1px #DDDDDD;
}

#startMenu h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#startMenu ul {
    margin: 10px;
    padding: 10px;
    margin-top: 0;
}

#startMenu .input-error {
    color: red;
    display: none;
    font-size: 12px;
}

/* 
#logo img {
    max-height: 20vh;
    padding-top: 5vh;
    display: block;
    margin: auto;
} */

#logo-firefox {
    margin: auto;
    display: block;
}

select {
    background-color: #f9f9f9;
    box-shadow: 0px 0px 1rem 0px rgba(180, 180, 180);
    z-index: 1;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    outline: none;
    width: 100%;
    transition-duration: 1s;
    margin-bottom: 1vh;
    -webkit-appearance: none;
    /* Override Mac/Chrome */
    -moz-appearance: none;
    /* Override Firefox */
}

select:focus {
    box-shadow: 0px 0px 1rem 0px #311B92;
    -webkit-appearance: none;
    /* Override Mac/Chrome */
    -moz-appearance: none;
    /* Override Firefox */
}

#newsBox {
    margin-top: 5vh;
    padding-top: 1vh;
}

/* *********
 * *  HUD  *
 * ********* */

#hud {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
}

#bp-ingame {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    max-width: 30vw;
}

.bp-ingame {
    right: 0;
}

#atom-count-wrapper {
    position: absolute;
    top: 2rem;
    right: 2rem;
    max-width: 30vw;
}

#atom-count-wrapper h3 {
    text-align: center;
}

#score {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

#timer {
    position: absolute;
    top: 2rem;
    left: 2rem;
    max-width: 20vw;
    max-height: 10vh;
}

.joystickbox {
    width: 25vw;
    height: 25vh;
    top: 2rem;
    left: 2rem;
    padding: 1.2rem;
    position: absolute;
}

/* **********
 * *  CHAT  *
 * ********** */

.chatbox {
    width: 25vw;
    height: 45vh;
    bottom: 2rem;
    left: 2rem;
    padding: 1.2rem;
    position: absolute;
    user-select: none;
}

.chatbox .chat-list {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    height: 38vh;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.chatbox .chat-list li {
    padding: 2px;
    margin: 2px;
}

.chatbox .chat-list li.join {
    color: #1b47e5;
}

.chatbox .chat-list li.system {
    color: #9b59b6;
}

.chatbox .chat-list li.system:before {
    content: "» ";
}

.chatbox .chat-input {
    pointer-events: all;
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    border: none;
    border-top: 1px solid #DDD;
    outline: none;
    height: 5vh;
    z-index: 50;
    transition-duration: 0.7s;
}

/* ***************************************************
 * *  LOADING - adapted from tobiasahlin.com/spinkit *
 * *************************************************** */

.loadingbox {
    width: 50%;
    height: 50%;
    pointer-events: none;
    text-align: center;
    overflow: hidden;
}

.spinner {
    width: 8vw;
    height: 8vw;
    position: relative;
    margin: auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/* **************
 * *  SCROLLBAR *
 * ************** */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(58, 45, 241, 0.6)), color-stop(0.72, rgba(60, 26, 214, 0.6)), color-stop(0.86, rgba(26, 0, 172, 0.6)));
}

/* ********************
 * * CUSTOM SELECTION *
 * ******************** */

::selection {
    background: transparent;
    /* WebKit/Blink Browsers */
    color: rgb(60, 26, 214);
    text-shadow: 0 0 0.5rem rgba(26, 0, 172, 0.8);
}

::-moz-selection {
    background: transparent;
    /* Gecko Browsers */
    color: rgb(60, 26, 214);
    text-shadow: 0 0 0.5rem rgba(26, 0, 172, 0.8);
}

/* **************
 * * BLUEPRINTS *
 * ************** */

.blueprint-wrapper {
    height: 80%;
    overflow-y: scroll;
}

.btn-blueprint {
    height: 60%;
    top: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    color: white;
}

.btn-blueprint h6 {
    font-weight: 100;
    max-height: 10%;
    margin: 0;
}

.btn-blueprint p {
    margin-top: 5%;
    margin-bottom: 3%;
    line-height: 1;
    max-height: 5%;
}

.btn-blueprint img {
    margin: 5%;
    max-height: 45%;
}

.tooltip {
    visibility: hidden;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    padding: 5vh 0;
    border-radius: 6px;
    position: fixed;
    z-index: 200;
    pointer-events: none;
}

.btn-blueprint:hover .tooltip {
    visibility: visible;
}

/* Color coding based on type*/

.blueprint-inert {
    background: #718EFF;
    border-bottom: 2px solid #3D66D1;
    box-shadow: inset 0 -2px #3D66D1;
    -webkit-box-shadow: inset 0 #3D66D1;
}

.blueprint-stream {
    background: #42a5f5;
    border-bottom: 2px solid #1e88e5;
    box-shadow: inset 0 -2px #1e88e5;
    -webkit-box-shadow: inset 0 #1e88e5;
}

.blueprint-flammable {
    /* Red lighten-2 and red */
    background: #e57373;
    border-bottom: 2px solid #f44336;
    box-shadow: inset 0 -2px #f44336;
    -webkit-box-shadow: inset 0 #f44336;
}

.blueprint-acid {
    /* light-green and light-green darken-2 */
    background: #8bc34a;
    border-bottom: 2px solid #689f38;
    box-shadow: inset 0 -2px #689f38;
    -webkit-box-shadow: inset 0 #689f38;
}

.blueprint-base {
    /* purple lighten-3 and purple lighten-1 */
    background: #ce93d8;
    border-bottom: 2px solid #ab47bc;
    box-shadow: inset 0 -2px #ab47bc;
    -webkit-box-shadow: inset 0 #ab47bc;
}

.blueprint-radioactive {
    /* green darken-3 and green accent-4 */
    background: #cddc39;
    border-bottom: 2px solid #afb42b;
    box-shadow: inset 0 -2px #afb42b;
    -webkit-box-shadow: inset 0 #afb42b;
}

.blueprint-health {
    /* pink lighten-2 and pink */
    background: #f06292;
    border-bottom: 2px solid #e91e63;
    box-shadow: inset 0 -2px #e91e63;
    -webkit-box-shadow: inset 0 #e91e63;
}

.blueprint-defense {
    /* blue-grey lighten-2 and blue-grey */
    background: #78909c;
    border-bottom: 2px solid #546e7a;
    box-shadow: inset 0 -2px #546e7a;
    -webkit-box-shadow: inset 0 #546e7a;
}

.blueprint-speed {
    background: #E48425;
    border-bottom: 2px solid #BC6300;
    box-shadow: inset 0 -2px #BC6300;
    -webkit-box-shadow: inset 0 #BC6300;
}

.blueprint-toxic {
    /* green darken-3 and green accent-4 */
    background: #388e3c;
    border-bottom: 2px solid #00c853;
    box-shadow: inset 0 -2px #00c853;
    -webkit-box-shadow: inset 0 #00c853;
}

/* ********
 * * LOBBY *
 * ********* */

#lobby {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.25);
}

#lobbybox {
    height: 70vh;
    width: 70vw;
}

/* *****************
 * * RADIO BUTTONS *
 * ***************** */

input[type=radio] {
    visibility: hidden;
    display: none;
}

label {
    color: #9a929e;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}

input[type=radio]:checked+label {
    color: #ccc8ce;
    background: #675f6b;
}

label+input[type=radio]+label {
    border-left: solid 3px #675f6b;
}

#solo+label {
    margin-right: -8px;
}

.radio-group {
    border: solid 3px #675f6b;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

.radio-group-wrapper {
    text-align: center;
    width: 100%;
}

/* ***************
 * * TEAM COLORS *
 * *************** */

.purple-team {
    color: #673ab7;
}

.green-team {
    color: #2e7d32;
}

.orange-team {
    color: #ff8f00;
}

.red-team {
    color: #f44336;
}